@import "variables";
.footer {
    display: flex;
    flex-direction: column;

    .cta {
        background-image: url('https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        justify-content: space-around;
        padding: 2rem;

        
        
        .cta-card {
            width: 40%;
            height: 250px;
            background-color: $white;
            display: flex;
            justify-content: center;
            border-radius: 5px;
            overflow: hidden;

            .content {
                width: 60%;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .sub-head {
                    color: $accent-color;
                }
    
                .main-head {
                    font-weight: 400;
                    font-size: x-large;
                }
    
                .text {
                    font-weight: 200;
                }
            }
    
            .media {
                width: 40%;
                overflow: hidden;

                img {
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }

            
        }

    }

    .bottom-bar {
        color: $white;
        height: 55px;
        background-color: $primary-color;
    }

    .bottom-nav {
        min-height: 350px;
        background-color: $gray-dark;
    }
}